* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.body {
    display: flex;
    justify-content: center;
}


.root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
    height:50vh;
    border: 3px solid;
    gap: 5px;
}

.main {
    display: flex;
    align-items: center;
    width: 50vh;
    height: auto;
    flex-direction: column;
    border: 3px solid #ddd;
}

.info-area {
    display: flex;
    align-items: center;
    border: 2px solid;
    padding: 20px;
    margin: 20px;
    height: 40px;
}


.computer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid;
}

.player-area {
    display: flex;
    justify-content: space-around;
    border : 2px solid;
}

.batu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid;
}

.gunting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid;
}

.kertas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid;
}